################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeleteAllHardLinks/bin
/DeleteAllHardLinks/obj
/.cr/personal/FavoritesList
